@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@functions {

    private static readonly Dictionary<string, string> UrlLinkTextMap = new()
    {
        { "/", "Home" },
        { "/about-company", "About" },
        { "/get-cities", "Cities" },
        { "/from-services", "Cities Service" },
        { "/from-singleton", "Singleton" },
        { "/from-serviceScope", "Service Scope" },
        { "/view-injection", "View Injection" },
        { "/contact-support", "Contact" },
        { "/autoFac", "AutoFac" },
        { "/products", "All Products" },
        { "/search-products", "Search Products" },
        { "/order-product", "Order Product" },
        { "/app-setting", "App Setting" },
        { "/i-configuration", "IConfiguration" },
        { "/hierarchical-configuration", "Hierarchical Configuration" },
        { "/options-pattern", "Options Pattern" },
        { "/config-service", "Config Service" },
        { "/stocks", "Stock" },
        { "/stock-trade", "Stock Trade" },
        { "/persons/index", "Person" }
    };

    private static List<string> GetUrls()
    {
    // Define and return the list of URLs
        return UrlLinkTextMap.Keys.ToList();
    }

    private static string GetLinkText(string url)
    {
    // Define and return the link text based on the URL
        return UrlLinkTextMap.TryGetValue(url, out var linkText) ? linkText : string.Empty;
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/Styles/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-brand">AspNet Core App</div>
        <ul>
            @foreach (var url in GetUrls())
            {
                <li>
                    <a href="@url">@GetLinkText(url)</a>
                </li>
            }
        </ul>
    </div>

    <div class="page-content">
        @RenderBody()
    </div>

    <div class="footer-content">
        @await RenderSectionAsync("footer_section", false)
    </div>
</div>

</body>
</html>