@model ListModel

<div class="list-container">
    <h3>@if (Model != null) { @Model.ListTitle } else { @ViewBag.ListTitle }</h3>
    <ul class="list">
        @if (Model != null)
        {
            foreach (string item in Model.ListItems)
            {
                <li>@item</li>
            }
        }
        else
        {
            var listItems = ViewBag.ListItems as List<string> ?? new List<string>();
            foreach (string item in listItems)
            {
                <li>@item</li>
            }
        }
    </ul>
</div>
