@model Orders
@{
    ViewBag.Title = "Orders";
    Layout = "_Layout";
}

<div class="flex orders-list">
    <div id="buy-orders-list">
        <div class="box">
            <h4 class="text-grey mb">Buy Orders</h4>
            @{
                await Html.RenderPartialAsync("_OrderList", Model.BuyOrders);
            }
        </div>
    </div>

    <div id="sell-orders-list">
        <div class="box">
            <h4 class="text-grey mb">Sell Orders</h4>
            @{
                await Html.RenderPartialAsync("_OrderList", Model.SellOrders);
            }
        </div>
    </div>
</div>
