@model dynamic

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<p>products list here</p>

@{
    var partialViewData = new ViewDataDictionary(ViewData);
    partialViewData.Remove("Title");
    partialViewData.Add("Title", "Products");
}

@await Html.PartialAsync("_ConfigurationPartial", partialViewData)